In [2]:
import pandas as pd
import h5py as hdf

fpath = "../../P1.hdf5"
dataset = hdf.File(fpath, 'r')

print(list(dataset))

#data = pd.DataFrame(dataset['data'])
#data.to_csv('..data/interim/file_out.csv')

['data', 'image_data']

In [3]:
df = pd.read_csv('../data/interim/hdf_P1.csv')
print(df.shape)
df.head()

(89229, 2)

   Unnamed: 0                                                  0
0           0  (0, 1000, 194., 287., 0., 3998.45605469, 4003....
1           1  (0, 1000, 194., 287., 0., 3998.41674805, 4004....
2           2  (147, 1000, 194., 287., 193., 4001.4609375, 40...
3           3  (170, 1000, 194., 287., 211., 4002.00463867, 4...
4           4  (180, 1000, 194., 286., 218., 4002.50805664, 4...

In [3]:
df.columns = ['id', 'items']

In [6]:
try:
    df = df.drop(['id'], axis=1)
    print('dropped column')
except:
    print('already dropped column')

already dropped column

In [5]:
df.iloc[0][0]

'(0, 1000, 194., 287., 0., 3998.45605469, 4003., 3999.45605469, 3994., [ 5.59020957e+09, -3.73907609e+06,  1.62549442e+10,  2.08308185e-05,  6.88127050e+11, -8.21897541e+05,  5.59031382e+09,  2.08312070e-05,  1.04029181e+12, -7.56685633e-13, -6.19942536e+04, -2.57385170e+06, -2.31009416e-10, -2.36963430e-12,  2.18457141e+10,  1.04034158e+12,  1.63817720e+07,  5.16036790e+08, -6.94232113e+04, -6.39149577e-14, -3.44240616e-12,  5.16020971e+08,  2.18448217e+10,  6.88121788e+11], 0.91644186, 0., [0., 0., 0., 0., 0., 0., 0., 0.], 0., -3998.45605469, 0., 0., 0., 0., [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], 0., 0., 0., 0., [ 0.49671319,  0.50421568, -0.49195327,  0.50697586], [-0.22265625,  0.07357059,  0.35832469], 0., 0.06099096, 0., -3998.45605469, 0., 0., 0., 0., [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], 0., 0., 0., 1.55531464e+09, [0., 0., 0., 0., 0., 0., 0., 0.])'