In [5]:
import pandas as pd
import numpy as np
from sklearn import model_selection as sk
import pickle

In [6]:
params = pd.read_csv("../data/interim/interim_data.csv")
params.head()

,ID,StudySample,LaserPowerHatch,LaserSpeedHatch,HatchSpacing,LaserPowerContour,Porosity,LayerHeight,EnergyDensityCalculated,Machine,Powder,MicroCTScan,HatchOffsetFromCountour
0,1,Plessis_1-1,280.0,1200.0,0.14,150.0,0.013,0.03,55.555556,EOS M290,EOS-supplied Ti6Al4V ELI,NaN,0.015
1,2,Plessis_1-2,252.0,1200.0,0.14,135.0,0.008,0.03,50.000000,EOS M290,EOS-supplied Ti6Al4V ELI,NaN,0.015
2,3,Plessis_1-3,224.0,1200.0,0.14,120.0,0.007,0.03,44.444444,EOS M290,EOS-supplied Ti6Al4V ELI,NaN,0.015
3,4,Plessis_1-4,197.0,1200.0,0.14,105.0,0.045,0.03,39.087302,EOS M290,EOS-supplied Ti6Al4V ELI,NaN,0.015
4,5,Plessis_1-5,308.0,1200.0,0.14,165.0,0.017,0.03,61.111111,EOS M290,EOS-supplied Ti6Al4V ELI,NaN,0.015

In [7]:
machine_title = params.Machine[0]
alloy_title = params.Powder[0]

In [8]:
try:
    params = params.drop(["ID","StudySample","HatchOffsetFromCountour", "MicroCTScan", "LayerHeight", "Machine", "Powder"], axis=1)
    print("dropped columns")
except:
    print("already dropped columns")
params.columns = ["LaserPowerHatch","LaserSpeedHatch","HatchSpacing","LaserPowerContour","EnergyDensityCalculated","Porosity"]
params.head()

dropped columns

,LaserPowerHatch,LaserSpeedHatch,HatchSpacing,LaserPowerContour,EnergyDensityCalculated,Porosity
0,280.0,1200.0,0.14,150.0,0.013,55.555556
1,252.0,1200.0,0.14,135.0,0.008,50.000000
2,224.0,1200.0,0.14,120.0,0.007,44.444444
3,197.0,1200.0,0.14,105.0,0.045,39.087302
4,308.0,1200.0,0.14,165.0,0.017,61.111111

In [21]:
split_pct = .25
seed = 100

train_data = params.sample(frac=split_pct, random_state=seed)
test_data = params.drop(train_data.index).sample(frac=1)

In [22]:
test_data

,LaserPowerHatch,LaserSpeedHatch,HatchSpacing,LaserPowerContour,EnergyDensityCalculated,Porosity
0,280.0,1200.0,0.14,150.00,0.013,55.555556
1,252.0,1200.0,0.14,135.00,0.008,50.000000
2,224.0,1200.0,0.14,120.00,0.007,44.444444
3,197.0,1200.0,0.14,105.00,0.045,39.087302
4,308.0,1200.0,0.14,165.00,0.017,61.111111
5,336.0,1200.0,0.14,180.00,0.021,66.666667
7,280.0,1200.0,0.14,150.00,0.034,27.777778
8,280.0,1200.0,0.14,150.00,0.011,55.555556
9,100.0,1200.0,0.14,53.55,18.200,19.841270
10,150.0,1200.0,0.14,79.50,1.990,29.761905
13,280.0,1200.0,0.23,150.00,0.616,33.816425
14,90.0,800.0,0.14,48.00,7.700,26.785714
15,120.0,800.0,0.14,64.00,0.580,35.714286
16,160.0,800.0,0.14,85.00,0.014,47.619048
18,240.0,800.0,0.14,128.00,0.109,71.428571
21,360.0,800.0,0.14,192.00,0.327,107.142857
22,280.0,1200.0,0.14,150.00,0.011,55.555556